.treeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
}

.treeCard {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.treeCard:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
}

.treeImage {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.treeName {
    color: #000;
    font-size: 1.2rem;
}