.tree-info-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-top: 30px;
}

.tree-info {
    color: #000;
    font-size: 20px;
}