.navbar {
    width: 100%;
    height: 80px;
    background-color: #ff4c68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainTitle {
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 30px;
  cursor: pointer;
  font-size: 32px;
  text-decoration: none;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
  opacity: 0.5;
}

.links a:hover {
  color: white; 
  opacity: 1; 
}

.iconContainer {
  position: relative;
}

.cartItemCount {
  position: absolute;
  color: black;
  font-size: 16px;
  font-weight: bold;
  bottom: 50%;
}