@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.content {
    max-width: 85%;
    height: 100vh;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
}

